
<div class="user-management-main">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row mb-20">
                    <div class="col-sm-8"><h2>Users <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" *ngIf="displayAddUser === actions.INITIAL" (click)="showAddUser()" class="btn btn-primary add-new"><i class="fa fa-plus"></i> Add New User</button>
                    </div>
                </div>
            </div>
            <div *ngIf="loginService.message | async as message" class="alert alert-success" role="alert"> {{message}} </div>
            <div *ngIf="displayAddUser === actions.ADD || displayAddUser === actions.UPDATE"  class="add-user-area">
            <form [formGroup]="userForm">
                <div class="mb-3">
                    <input id="id" type="hidden" class="form-control"  formControlName="id">
                  </div>
                <div class="mb-3">
                    <label for="first-name" class="form-label">First Name </label>
                    <input id="first-name" type="text" class="form-control"  formControlName="name" required>
                  </div>
                  <div class="mb-3">
                    <label for="email-address" class="form-label">Email Address </label>
                    <input id="email-address" type="email" class="form-control"  formControlName="email" required>
                  </div>
                    <p>Complete the form to enable button.</p>
                    <button class="btn btn-primary" (click)="onSubmit(userForm.value, displayAddUser)" type="submit" [disabled]="!userForm.valid">{{ displayAddUser === actions.ADD ? 'Submit' : 'Update'}}</button>
              </form>
            </div>
              <br/>
            <table class="table table-striped table-bordered table-hover" *ngIf="displayAddUser === actions.INITIAL">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList; index as i">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a class="edit" (click)="updateUser(user)"  title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" (click)="deleteUser(user?.id)" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>     


